@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Mate&display=swap');

body {
  margin: 0 auto;
  background-color: #f6f6f6;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/*form styles */

form.signup,
form.login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form.signup .form-group .form-input,
form.login .form-group .form-input {
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



form.signup h3,
form.login h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}



.submit-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

/*form styles */

/* navbar */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.nav-line {
  width: 90%;
  height: 1px;
  background-color: #E97F01;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.logo img {
  width: 100px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  max-width: 1000px;
}



.navbar-links a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.navbar-links a:hover {
  background-color: rgba(255, 145, 0, 0.1);
  border-radius: 15px;
}

.navbar-links a.active {
  font-weight: bold;
  color: #E97F01;
}

.navbar .login-container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.navbar .login-container .login button,
.navbar .hamburger-links button {
  color: orange;
  border: none;
  background-color: unset;
  font-size: 16px;
  cursor: pointer;
}

.navbar .login {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid orange;
  border-radius: 20px;
  margin: 0;
}

.navbar .login a {
  color: orange;
  text-decoration: none;
}

.hamburger {
  display: none;
  color: #E97F01;
  font-size: 30px;
}

.hamburger-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  margin-right: 10px;
}

.hamburger-links a{
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #E97F01;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hamburger{
    display: flex;
    z-index: 10;
  }

  .navbar-links{
    display: none;
  }

  .navbar .login{
    display: none;
  }

  .navbar {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: auto;
  }
}
/* navbar */


/* footer */

.footer {
  background-color: rgb(38, 36, 38);
  padding: 30px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  padding-top: 80px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 20px;
  margin-bottom: 30px;
  text-align: start;
}

.footer-links > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 30px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom .icons a {
  margin: 10px;
  font-size: 24px;
  color: white;
}

.footer-bottom .icons :hover {
  color: #E97F01;
}

.footer-links .contact .hide {
  overflow-wrap: break-word;
  max-width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: white;
}

.icons p {
  font-size: 20px;
  margin-right: 10px;
}

.line {
  width: 40%;
  height: 1px;
  margin-bottom: 10px;
  background-color: white;
}

.mobile-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 100%;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-links > div {
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  .footer-links .logo {
    margin-right: 0px;
  }

  .hide {
    display: none;
  }

  .mobile-icon {
    display: inline;
    margin-left: 10px;
  }
}

/* footer */

/*templates */
.item-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  max-width: 1440px;
}

.item {
  border-radius: 8px;
  width: 300px;
  height: 200px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.item:hover {
  filter: brightness(50%); /* Replace #color with the desired color value */
}

.item-link {
  color: inherit;
  text-decoration: none;
}

/*templates*/

/*template bricky css */
.bricky-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bricky-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/bricky.jpg');
  background-size: cover;
}

.bricky-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 99;
  /* Add any additional styles for your form container */
}

.bricky-input {
  font-size: 3rem;
  width: auto;
  height: 100px;
  resize: none;
  background-color: rgba(255, 255, 255, 0);
  color: #f4f4f4;
  margin-bottom: 10px;
  border: none;
  /* Add any additional styles for your form inputs */
}

.bricky-input::placeholder {
  color: #fff;
}

.bricky-input:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.bricky-testimonials {
  margin-top: 20px;
}

.testimonials-heading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.testimonial {
  margin-bottom: 10px;
}

.testimonial-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.testimonial-author {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.buy-now-link {
  position: sticky;
  bottom: 20px;
  right: 20px;
  padding: 40px 20px;
  background-color: rgba(170, 0, 0, 0.6);
  color: #ffffff;
  font-weight: 600;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
}

.buy-now-link:hover {
  background-color: rgba(170, 0, 0, 0.8);
}


/*template bricky css */

/*Homepage styling*/

.home h5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
  color: #E97F01; 
  margin-bottom: 10px;
}

.home p {
  font-family: 'Quicksand', sans-serif;
  color: #464646;
  margin-bottom: 10px;
  font-size: 1.375rem;
}

.home h2{
  font-family: 'Mate', sans-serif;
  font-size: 3.125rem;
  color: #1D1D1D; 
}

.hero {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.hero-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 4rem;
  font-family: 'Mate', sans-serif;
  margin-bottom: 100px;
  margin-top: 50px;
}

.home .hero-content p {
  font-family: 'Quicksand', sans-serif;
}

.home .about {
  padding: 40px 0;
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.about-image {
  margin-bottom: 30px;
}

.about-image img {
  width: 565px;
  height: auto;
}

.about-text {
  text-align: left;
  margin-bottom: 30px;
  padding-left: 60px;
}

.about-buttons {
  display: flex;
  justify-content: flex-start;
}

.portfolio{
  margin-bottom: 80px;
}

.port-header {
  margin-bottom: 50px;
}

.port-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.port-item {
  position: relative;
  margin-bottom: 30px;
}

.item-title {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.getting-started {
  display: flex;
  margin: 200px 20px;
}

.start-text {
  text-align: left;
  padding: 20px 80px;
  flex: 1;
  z-index: 2;
  max-width: 50%;
  overflow-wrap: break-word;
}

.start-text h2 {
  text-align: left;
}

.start-images {
  position: relative;
  display: flex;
  align-items: center;
}

.start-images img {
  width: 300px;
  height: auto;
  position: relative;
}

.home button {
  padding: 10px 40px;
  font-size: 16px;
  color: #E97F01;
  border: 2px solid #E97F01;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
}

.home button:hover {
  padding: 10px 40px;
  font-size: 16px;
  color: #fff;
  background-color: #E97F01;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.5);
  font-weight: bold;
  white-space: nowrap;
}

.start-images img:first-child {
  margin-top: 280px;
  margin-right: -40px;
}

@media screen and (max-width: 1024px) {

  .about-text {
    padding-left: 40px;
  }

  .about-content {
    justify-content: space-evenly;
  }

  .home .about img {
    max-width: 40vw;
  }

  .home .port-images img {
    max-width: 30vw;
  }

  .home .port-header p {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {

  .hero-content {
    max-width: 100%;
    padding: 0 20px;
  }

  .hero-actions {
    margin-top: 0px;
    padding-top: 0px;
  }

  .about-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .portfolio {
    margin-bottom: 20px;
  }

  .port-images {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .port-header p {
    max-width: 70%;
    margin: 0 auto;
  }

  .item-title {
    left: 50%;
  }

  .getting-started {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: -20px 0;
  }
  
  .start-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home img {
    max-width: 60vw;
  }

  .start-images img {
    max-width: 40%;
  }

  .home h5 {
    font-size: 1rem;
  }

  .home p {
    font-size: 0.8rem;
  }

  .home h2 {
    font-size: 1.8rem;
  }

  .hero-content h1 {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .home button {
    font-size: 0.5rem;
  }

  .pages {
    margin-top: -30px;
  }

  .about-text {
    padding-left: 0;
  }

  .home .about {
    padding: 0;
  }
}

/*Homepage styling*/

/*About Us styling*/

.about-us h2 {
  font-family: 'Mate', sans-serif;
  font-size: 3.125rem;
  color: #1D1D1D; 
}

.about-us p {
  font-family: 'Quicksand', sans-serif;
  color: #464646;
  margin-bottom: 10px;
  font-size: 1.375rem;
}

.about-us h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
  color: #E97F01; 
  margin-bottom: 10px;
}

.about-us {
  padding: 50px 30px;
}

.about-us img {
  max-width: 40vw;
  border-radius: 30px;
}

.mission {
  display: flex;
  margin-top: 50px;
}

.mission-image {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
}

.mission-text {
  flex-grow: 1;
  flex-basis: 0;
  padding: 30px 60px;
  text-align: left;
}

.meet-founders {
  display: flex;
  margin-top: 50px;
}

.meet-image {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;  
}

.meet-text {
  flex-grow: 1;
  flex-basis: 0;
  padding: 30px 60px;
  text-align: left;  
}

.core-values {
  display: flex;
  margin-top: 50px;
}

.core-image {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
}

.core-text {
  flex-grow: 1;
  flex-basis: 0;
  padding: 30px 60px;
  text-align: left;
}

.why-choose {
  display: flex;
  margin-top: 50px;
}

.why-choose-image {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;  
}

.why-choose-text {
  flex-grow: 1;
  flex-basis: 0;
  padding: 30px 60px;
  text-align: left;  
}

.about-us .testimonials {
  margin-top: 50px;
}

.about-us .social-impact {
  margin-top: 50px;
}

.about-us .contact-us {
  margin-top: 50px;
}

.about-us .contact-us button {
  padding: 10px 40px;
  font-size: 16px;
  color: #E97F01;
  border: 2px solid #E97F01;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  
  .about-us img {
    max-width: 70vw;
  }

  .mission {
    flex-direction: column-reverse;
  }

  .meet-founders {
    flex-direction: column;
  }

  .core-values {
    flex-direction: column-reverse;
  }

  .why-choose {
    flex-direction: column;
  }
}

/*About Us styling*/

/*Contact Us styling*/

.contact-us h2 {
  font-family: 'Mate', sans-serif;
  font-size: 3.125rem;
  color: #1D1D1D; 
}

.contact-us p {
  font-family: 'Quicksand', sans-serif;
  color: #464646;
  margin-bottom: 10px;
  font-size: 1.375rem;
}

.contact-us h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
  color: #E97F01; 
  margin-bottom: 10px;
}

.contact-us {
  padding: 50px 30px;
}

.contact-us > div {
  margin-bottom: 40px;
}

/*Contact Us styling*/

/*Privacy Policy styling*/

.privacy_policy {
  text-align: left;
  margin: 60px 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.privacy_policy h2 {
  margin-top: 80px;
  font-size: 2em;
}

.privacy_policy h4 {
  font-size: 1.3em;
}

.privacy_policy h3 {
  margin-top: 70px;
  font-size: 1.6em;
}

.privacy_policy p {
  margin-top: 30px;
}

.privacy_policy li {
  margin-top: 20px;
}

/*Privacy Policy styling*/

/*Terms and Condtions styling*/

.terms_and_conditions {
  text-align: left;
  margin: 60px 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.terms_and_conditions h2 {
  margin-top: 80px;
  font-size: 2em;
}

.terms_and_conditions h4 {
  font-size: 1.3em;
}

.terms_and_conditions h3 {
  margin-top: 70px;
  font-size: 1.6em;
}

/*Terms and Condtions styling*/

/*Cookie Policy styling*/

.cookie_policy {
  text-align: left;
  margin: 60px 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.cookie_policy h2 {
  margin-top: 80px;
  font-size: 2em;
}

.cookie_policy h4 {
  font-size: 1.3em;
}

.cookie_policy h3 {
  margin-top: 70px;
  font-size: 1.6em;
}

.cookie_policy li {
  margin-top: 20px;
}

/*Cookie Policy styling*/

/*Contact Form styling*/

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.contact-form label {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  color: #E97F01;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-form textarea {
  resize: vertical;
  height: 150px
}

.contact-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #E97F01;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.contact-form button[type="submit"]:hover {
  background-color: #e67200;
}



/*Contact Form styling*/

/* checkout styling */

.checkout-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button.checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p.login-message {
  text-align: center;
  color: #FF0000;
}

/* checkout styling */

/* order preview styling */

.order-preview-image {
  height: 200px;
  width: auto;
}

/* order preview styling */

/* domain search styling */

.domain-search-bar form {
  width: 50%;
  margin: auto;
}
.domain-search-bar form input {
  margin-bottom: 0.5rem;
}
/* domain search styling */

/* login page / signup page */
  .login-page,
  .signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
/* login page / signup page */

/*dashboard page */
  .dashboard-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 25px 0;
  }

  @media screen and (max-width: 768px) {
    .dashboard-page {
      flex-direction: column;
      align-items: center;
    }
  }

  .dashboard-page .user-details-container ul {
    padding: 0;
  }

  .dashboard-page .user-details-container li {
    list-style: none;
    margin-bottom: 10px;
  }
/*dashboard page */